@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

body {
     margin: 0;
     text-align: center;
     width: 100%;
     font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 20px;
     color: #232323;
     background-color: #E0ECF8;
     margin: 0;
     line-height: 1.8em;
     -webkit-font-smoothing: antialiased;
}

p {
text-align: left;
//padding: 0px;
align: center;
padding-left: 25%;
padding-right: 25%;
}

h1 {
        font-family: 'Arvo', Monaco, serif;
	line-height:1.3;
        font-weight: normal;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
}

h2, h3 {
        font-family: 'Arvo', Monaco, serif;
  line-height:1.3;
        font-weight: normal;
        display: block;
        padding-top: 10px;
//        padding-bottom: 5px;
}

h1 {
        font-size: 40px;
}

h2 {
        font-size: 24px;
}

h3 {
        font-size: 18px;
}

h4, h5, h6 {
        font-family: 'Arvo', Monaco, serif;
        font-weight: 700;
}


a {
  color:#C30000;
  font-weight:200;
  text-decoration:none;
}

a:hover {
        text-decoration: underline;
}